{% extends 'base.html.twig' %}

{% block title %}Mon carnet d'adresses{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_hello.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<h1 class="title">Bienvenue sur mon appli de carnet d'adresse !</h1>
<a href='affichage_contact' class="button">Afficher les contacts</a>
<a href='ajout_contact' class="button">Ajouter un contact</a>
<a href='modifier_contact' class="button">Modifier un contact</a>
<a href='supprimer_contact' class="button">Supprimer un contact</a>
{% endblock %}