{% extends 'base.html.twig' %}

{% block title %}Mon carnet d'adresses{% endblock %}

{% block body %}
<h1>Bienvenue sur mon appli de carnet d'adresse !</h1>
<button>Afficher les contacts</button>
<button>Ajouter un contact</button>
<button>Modifier un contact</button>
<button>Supprimer un contact</button>
{% endblock %}