{% extends 'base.html.twig' %}

{% block title %}Mon carnet d'adresses{% endblock %}

{% block body %}
<h1>Bienvenue sur mon appli de carnet d'adresse !</h1>
<button><a href='affichage_contact'>Afficher les contacts</a></button>
<button><a href='ajout_contact'>Ajouter un contact</a></button>
<button><a href='modifier_contact'>Modifier un contact</a></button>
<button><a href='supprimer_contact'>Supprimer un contact</a></button>
{% endblock %}